.login-btn,
.btn-primary {
  background-color: var(--secondary-color);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 var(--content-overlay);
}

.fa-icon-google {
  font-size: 15px !important;
}

/* Navbar */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 var(--content-overlay);
  height: 50px;
}

.nav-links {
  position: relative;
  bottom: 32px;
}

.nav-item {
  padding: 0 57px;
}

/* Form */
.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0px;
  width: 320px;
  padding: 10px 0;
}

.form-label {
  color: #5f6368;
  padding: 2px 0;
}

.form-input {
  height: 35px;
  outline: none;
  border: 1px solid #5f6368;
  border-radius: 5px;
  padding: 0 10px;
}

.form-input:focus {
  border: 2px solid var(--secondary-color);
}

.btn-primary {
  width: 100%;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8% !important;
  background-color: #f7f7f7 !important;
}

/* Alert */
.alert {
  position: fixed;
  top: 169px;
  left: 63.3%;
  width: 400px;
  height: 65px;
  transform: translateX(-50%) !important;
  z-index: 9999;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.5rem 3.5rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}
